*.o
*.a
.cache/
.vs/
.vscode/
.DS_Store

build/*
build-em/
build-debug/
build-release/
build-static/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

dist/

env/

models/*

/main
/quantize

arm_neon.h
compile_commands.json

cmake/CompilerFlagVariables.cmake
cmake/GlobalVars.cmake

__pycache__/
build/

examples/python/fastllama/fastllama.py
examples/python/fastllama/pyfastllama.so
