@import "./base.css";

@layer base {
    html {
        @apply bg-emerald-700;
    }

    html,
    body,
    #app {
        @apply h-full w-full;
    }

    #app {
        @apply bg-zinc-950 text-zinc-50;
    }

    sp-button {
        border-width: 2px;
        border-color: transparent;
    }
}

@layer components {
    .message-element {
        @apply flex flex-col bg-zinc-800 w-fit min-w-[10rem] max-w-[80%] px-4 py-2 rounded border border-zinc-700;
    }

    .message-element-right {
        @apply self-end text-right;
    }

    .message-element-right > :first-child {
        @apply justify-end;
    }

    .message__content {
        @apply text-sm font-sans whitespace-pre-wrap;
    }

    .message-element-model {
        @apply bg-zinc-800 border-zinc-700 text-zinc-100;
    }

    .message__model-title {
        @apply text-xs text-zinc-200;
    }

    .message-element-user {
        @apply bg-emerald-700 border-emerald-600 text-emerald-100;
    }

    .message__user-title {
        @apply text-xs text-emerald-200;
    }

    .system-message-tag {
        @apply text-xs font-bold uppercase min-w-[10ch] flex;
    }

    .system-message-tag[data-kind="info"] {
        @apply text-emerald-400;
    }

    .system-message-tag[data-kind="warning"] {
        @apply text-yellow-400;
    }

    .system-message-tag[data-kind="error"] {
        @apply text-rose-400;
    }

    .system-message-tag[data-kind="progress"] {
        @apply text-sky-400;
    }

    .fastllama-watermark {
        @apply text-sm whitespace-pre-wrap w-full text-center text-emerald-300 pb-2;
    }

    .slide-enter {
        @apply transform opacity-100 translate-x-0;
    }

    .slide-leave {
        @apply transform opacity-0 translate-x-full;
    }

    .fade-animation {
        animation: fade-in 150ms ease, slide-in 150ms ease, fade-out 150ms ease var(--on-screen-duration, 3s);
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }

    @keyframes slide-in {
        from {
            transform: translateY(0, 10px);
        }
    }
}
